div(ng-hide="User.name")
  .col-sm-6.col-sm-offset-3
      h1
        span.fa.fa-sign-in
        | Login


      //(action='/login', method='post')
      strong(ng-bind="message")

      form(ng-submit="login()")
        .form-group
          label Email
          input.form-control(type='text', name='email', ng-model="formLogin.email")
        .form-group
          label Password
          input.form-control(type='password', name='password', ng-model="formLogin.password")
        button.btn.btn-warning.btn-lg(type='submit') Login
      hr
      p
        | Need an account?
        a(href='/signup') Signup
      p
        | Or go
        a(href='/') home
        | .

div(ng-show="User.name")
  p
    | Succesfull login. Your email: 
    span(ng-bind="User.name")

