div(ng-controller='StoreControllerOne', class="siteClass")
	.categories
		a(href='products/show') All products 
		span > 
		a(href='products/show/{{product.category}}') 
			span(ng-bind="product.category") 
		span  > 
		a(href='product/show/{{product._id}}') 
			span(ng-bind="product.name")
	ul(class="list-group", style='width:600px', class="pull-center")
		h3(product-title)
		section(product-gallery, ng-controller="GalleryController")
		section(product-panels, ng-controller="PanelController")
	//-div(ng-view)


