div(ng-controller='ProductsController')
	.categories
		a(href='products/show') All products 
	ul(style='width:600px', class="manyProducts")
		li(ng-repeat="product in products | orderBy:'price'")
			section(products-many)
			//h3(product-title)
			//section(product-gallery, ng-controller="GalleryController")
			//section(product-panels, ng-controller="PanelController")	



