div(ng-controller='StoreControllerCategory')
	a(href='products/show') All products > 
	a(href='products/show/{{category}}') {{category}}
	ul(class="list-group", style='width:600px', class="pull-center")
		li(class="list-group-item", ng-repeat="product in products | orderBy:'price'")
			h3(product-title)
			section(product-gallery, ng-controller="GalleryController")
			section(product-panels, ng-controller="PanelController")



