div(ng-controller='StoreControllerCategory')
	.categories
		a(href='products/show') All products 
		span > 
		a(href='products/show/{{category}}')
			span(ng-bind="category") 

	ul(class="manyProducts")
		li(ng-repeat="product in products | orderBy:'price'")
			section(products-many)
			//h3(product-title)
			//section(product-gallery, ng-controller="GalleryController")
			//section(product-panels, ng-controller="PanelController")



