div(ng-controller='StoreControllerOne')
	.categories
		a(href='products/show') All products 
		span > 
		a(href='products/show/{{product.category}}') 
			span(ng-bind="product.category") 
		span  > 
		a(href='product/show/{{product._id}}') 
			span(ng-bind="product.name")
	.product-details
		span(ng-bind="product.name", class="title")
		span(ng-bind="product.price | currency", class="price")

	section(product-gallery, ng-controller="GalleryController")
	section(product-panels, ng-controller="PanelController", class="panels")
	//-div(ng-view)


