div(ng-controller='StoreControllerOne')
	ul(class="list-group", style='width:600px', class="pull-center")
		h3(product-title)
		section(product-gallery, ng-controller="GalleryController")
		section(product-panels, ng-controller="PanelController")
	//-div(ng-view)


