.col-sm-6.col-sm-offset-3
    h1
        span.fa.fa-sign-in
        | Signup
      form(action='/signup', method='post')
        .form-group
          label Email
          input.form-control(type='text', name='email')
        .form-group
          label Password
          input.form-control(type='password', name='password')
        button.btn.btn-warning.btn-lg(type='submit') Signup
      hr
      p
        | Already have an account?
        a(href='/login') Login
      p
        | Or go
        a(href='/') home
        | .
