$logoSize: 150px
$menuSize: 60px
$blue: #3FA9F5
$red: #FF0033
$siteWidth: 800px

@mixin backgroundColor
  background: rgb(63,169,245)
  background: -moz-linear-gradient(-45deg,  rgba(63,169,245,1) 0%, rgba(143,2,34,1) 62%, rgba(143,2,34,1) 62%, rgba(255,0,51,1) 100%)
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(63,169,245,1)), color-stop(62%,rgba(143,2,34,1)), color-stop(62%,rgba(143,2,34,1)), color-stop(100%,rgba(255,0,51,1)))
  background: -webkit-linear-gradient(-45deg,  rgba(63,169,245,1) 0%,rgba(143,2,34,1) 62%,rgba(143,2,34,1) 62%,rgba(255,0,51,1) 100%)
  background: -o-linear-gradient(-45deg,  rgba(63,169,245,1) 0%,rgba(143,2,34,1) 62%,rgba(143,2,34,1) 62%,rgba(255,0,51,1) 100%)
  background: -ms-linear-gradient(-45deg,  rgba(63,169,245,1) 0%,rgba(143,2,34,1) 62%,rgba(143,2,34,1) 62%,rgba(255,0,51,1) 100%)
  background: linear-gradient(135deg,  rgba(63,169,245,1) 0%,rgba(143,2,34,1) 62%,rgba(143,2,34,1) 62%,rgba(255,0,51,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fa9f5', endColorstr='#ff0033',GradientType=1 )

  

@mixin backgroundColorAnimation($duration)
  transition: background-color $duration ease-in-out 
  -moz-transition: background-color $duration ease-in-out
  -webkit-transition: background-color $duration ease-in-out

@mixin marginLeftAnimation($duration)
  transition: margin-left $duration ease-in-out 
  -moz-transition: margin-left $duration ease-in-out
  -webkit-transition: margin-left $duration ease-in-out

@mixin backgroundImageAnimation($duration)
  transition: background $duration ease-in-out 
  -moz-transition: background $duration ease-in-out
  -webkit-transition: background $duration ease-in-out

@mixin noSelecting
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

@mixin border
  border-style: solid
  border-width: 1px
  border-color: #ddd

@mixin outline
  outline: 1px solid #ddd
  outline-offset: -1px



@-webkit-keyframes opacityAnimation 
  from 
    opacity: .5
  to 
    opacity: 1


@keyframes opacityAnimation 
  from 
    opacity: .5
  to 
    opacity: 1


@-webkit-keyframes mainAnimation 
  from 
    opacity: 0
  to 
    opacity: 1

@keyframes mainAnimation 
  from 
    opacity: 0
  to 
    opacity: 1


main.ng-enter
  -webkit-animation: mainAnimation 2s
  animation: mainAnimation 2s

html
  height: 100%

body
  margin: 0
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  background-color: #ddd
  @include backgroundColor
  color: white
  height: 100%
  background-repeat: no-repeat
  background-attachment: fixed

a
  color: $blue
a:hover
  color: $red

a:link 
  text-decoration: none

header
  top: 0px
  height: $logoSize+$menuSize
  //background-color: $red
  //@include backgroundColor
  margin-left: auto
  margin-right: auto
  width: 100%
  z-index: 1
  position: relative
  .logo
    height: $logoSize
    background: url("../images/gemstore-logo-white.png")
    background-size: auto $logoSize - 40px
    background-repeat: no-repeat
    background-position: center

nav.fixed 
  @extend header
  //@include backgroundImageAnimation(.50s)  
  position: fixed
  z-index: 3
  height: $menuSize
  @include backgroundColor
  //background: url("../images/gemstore-logo-white-small.png")
  background-repeat: no-repeat
  background-position: left
  //background-color: $blue
  -webkit-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.75)
  -moz-box-shadow:    0px 4px 10px 0px rgba(50, 50, 50, 0.75)
  box-shadow:         0px 4px 10px 0px rgba(50, 50, 50, 0.75)

  margin-top: auto
  -webkit-animation: opacityAnimation 2s
  animation: opacityAnimation 2s
  ul
    text-align: right
    margin-right: 10px




nav
  height: $menuSize
  width: $siteWidth
  margin-left: auto
  margin-right: auto
  .logoSmall
    background: url("../images/gemstore-logo-white-small.png")
    background-repeat: no-repeat
    background-position: left
    height: $menuSize
    width: 333px
    position: fixed
    z-index: 10
    top: 3px
    left: 10px
    //display: none
  ul
    text-align: center
    margin-left: auto
    margin-right: auto
    font-size: 18px
    margin-top: 10px
    padding-bottom: 0px
    padding-left: 0px
    margin-bottom: 0px
    position: relative
    li
      display: inline-block
      //background-color: white
      list-style-type: none
      @include border
      text-align: center
      padding: 0
      border-color: #fff
      border-style: solid
      border-width: 1px
      .menuButton 
        padding: 7px 20px
        color: white
        @include backgroundColorAnimation(.50s)
      .menuButton2
        padding: 7px 20px
        background-color: $red
        color: white
        @include backgroundColorAnimation(.50s)
      .menuButton:hover
        background-color: $red
        color: white
      .menuButton2:hover
        background-color: #8f0222
        color: white
    li:hover > ul
      display: block
    ul
      -webkit-animation: opacityAnimation 1s
      animation: opacityAnimation 1s
      display: none
      position: absolute
      top: 100%
      padding: 0
      margin: 0
      z-index: 5
      //width: 100%
      a
        li
          //padding: 0//7px
          border-top-style: none
          float: none
          position: relative
          display: block
          width: inherit






main
  margin-left: auto
  margin-right: auto
  width: $siteWidth
  //background-color: #ddd
  //margin-top: -100px
  z-index: 0
  position: relative

  .siteClass
    //padding-top: 5px
    padding: 10px
    margin: 5px
    @include border
    text-align: justify







ul.manyProducts
  list-style-type: none
  position: relative
  display: block
  margin: 0 
  margin-top: 5px
  margin-bottom: 5px 
  padding: 0
  width: $siteWidth
  li
    @include border
    border-bottom-style: none
    width:  $siteWidth
    section
      padding: 20px
      min-height: 250px
      .name
        float: left
        font-size: 20px
      .price
        float: right
        font-size: 20px
        padding: 5px
        padding-left: 10px
        padding-right: 10px
        background-color: $blue
        border-radius: 5px
        color: white
      .image
        //float: left
        margin: 10px
        margin-top: 5px
        .container
          height: 150px
          width: 150px
          overflow: hidden
          position: relative
          @include border
        img
          height: inherit
          margin-left: -15%
        .preview
          display: none
          //position: absolute
          //top: 50%
          z-index: 5
          position: fixed
          top: 150px
          img 
            float: none
            position: relative
            display: block         
            @include border
            height: 300px 
            margin-left: 0
          a
            display: inline-block
            float: none
            position: relative 
            img
              height: 100px
              width: 100px       
      .image:hover 
        .preview
          display: block
          -webkit-animation: opacityAnimation 1s
          animation: opacityAnimation 1s           
      .description
        p
          text-align: justify
          a
            font-style: italic

  li:nth-child(even)
    section
      .image
        float: right
  li:nth-child(odd)
    section
      .image
        float: left
  li:last-child
    border-bottom-style: solid
    section
      .image
        .preview
          top: auto
          bottom: 150px

$galleryHeight: 355px
$galleryWidth: 400px
$galleryBar: 75px

.gallery
  @include noSelecting
  margin: 5px
  width: $galleryWidth+20
  height: $galleryHeight+25
  padding: 10px
  outline: 1px solid #fff
  outline-offset: -5px
  //background-color: #ddd
  background: rgb(63,169,245)
  background: -moz-linear-gradient(45deg, rgba(63,169,245,1) 0%, rgba(143,2,34,1) 99%)
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(63,169,245,1)), color-stop(99%,rgba(143,2,34,1)))
  background: -webkit-linear-gradient(45deg, rgba(63,169,245,1) 0%,rgba(143,2,34,1) 99%)
  background: -o-linear-gradient(45deg, rgba(63,169,245,1) 0%,rgba(143,2,34,1) 99%)
  background: -ms-linear-gradient(45deg, rgba(63,169,245,1) 0%,rgba(143,2,34,1) 99%)
  background: linear-gradient(45deg, rgba(63,169,245,1) 0%,rgba(143,2,34,1) 99%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fa9f5', endColorstr='#8f0222',GradientType=1 )
  .left
    left: 0      
  .right
    right: 0
  .button
    cursor: pointer
    height: $galleryBar
    z-index: 2
    position: absolute
    text-align: center
    background-color: rgba(0,0,0,0.15)
    @include noSelecting
    span
      color: #666
      opacity: .75
  .button:hover
    background-color: rgba(0,0,0,0.45)
    span
      color: #ddd

  .imageDiv
    margin-bottom: 5px
    position: relative
    height: $galleryHeight - $galleryBar
    width: $galleryWidth
    .one
      height: $galleryHeight - $galleryBar - 5px
      width: 30px
      display: none
      margin-top: 2px
      span
        margin-top: ($galleryHeight - $galleryBar)*0.4
        opacity: .75
    .zoom
      display: none
      cursor: pointer
      height: ($galleryHeight - $galleryBar)*0.25
      width: $galleryWidth*0.18
      z-index: 2
      position: absolute
      text-align: center
      background-color: rgba(0,0,0,0.15)
      left: $galleryWidth*0.4
      top: ($galleryHeight - $galleryBar)*0.4
      border-radius: 5px
      span
        color: #666
        opacity: .35
        padding-top: 5px
    .zoom:hover
      background-color: rgba(0,0,0,0.45)
      span
        opacity: .75
        color: #ddd

    .one:hover
      background-color: rgba(0,0,0,0.35)

    //img
      //display: block
      //margin: auto

      //max-height: $galleryHeight - $galleryBar
      //max-width: $galleryWidth

    .imageHelper
      float: left
      height: $galleryHeight - $galleryBar
      width: $galleryWidth
      z-index: 1
      padding: 0
      overflow: hidden
      ul  
        height: $galleryHeight - $galleryBar
        width: 99999px  
        padding: 0px
        margin-bottom: 0px
        @include marginLeftAnimation(.25s)
        li
          display: inline-block
          .imageContainer
            height: $galleryHeight - $galleryBar
            width: $galleryWidth
            margin: 0
            display: table-cell
            vertical-align: middle
            img
              display: block
              max-height: $galleryHeight - $galleryBar - 5px
              max-width: $galleryWidth - 5px
              border: none
              overflow: hidden
              margin: auto
              -webkit-box-shadow: 3px 3px 2px 0px rgba(50, 50, 50, 0.75)
              -moz-box-shadow:    3px 3px 2px 0px rgba(50, 50, 50, 0.75)
              box-shadow:         3px 3px 2px 0px rgba(50, 50, 50, 0.75)

  .imageDiv:hover
    //@include outline
    .zoom
      display: block
    .one
      display: block

  .galleryBar
    //margin-top: 5px
    height: $galleryBar
    width: $galleryWidth
    position: relative
    //outline: 1px solid #000
    //outline-offset: 0px
    .many
      display: none
      height: $galleryBar
      width: 20px
      span
        margin-top: $galleryBar*0.2
        opacity: .75
    .gallerMin
      float: left
      height: $galleryBar
      width: $galleryWidth
      z-index: 1
      padding: 0
      overflow: hidden
      -webkit-box-shadow: 3px 3px 2px 0px rgba(50, 50, 50, 0.75)
      -moz-box-shadow:    3px 3px 2px 0px rgba(50, 50, 50, 0.75)
      box-shadow:         3px 3px 2px 0px rgba(50, 50, 50, 0.75)
      ul  
        width: 99999px  
        padding: 0px
        margin-bottom: 0px
        @include marginLeftAnimation(.25s)
        li
          display: inline
          a
            img
              height: $galleryBar 
              width: 100px
              border: none
              overflow: hidden
            img:hover
              @include outline
  .galleryBar:hover
    //@include outline
    .many
      display: block


.fullGallery
  @include noSelecting
  width: 100%
  height: 100%
  position: fixed
  z-index: 5
  background-color: rgba(0,0,0,0.50)
  top: 0
  left: 0
  display: relative
  .left
    left: 0      
  .right
    right: 0
    left: auto
  .button
    cursor: pointer
    z-index: 8
    position: absolute
    text-align: center
    background-color: rgba(0,0,0,0.25)
    span
      color: #aaa
      opacity: .75
  .button:hover
    background-color: rgba(0,0,0,0.55)
    span
      color: #ddd
  .imageDiv
    //margin-bottom: 1.5%
    position: relative
    height: 80%
    width: 100%
    .one
      height: 100%
      width: 3.5%
      span
        margin-top: 300%
        opacity: .75

    .close
      z-index: 9
      span
        color: #ddd
        opacity: 1

    .imageHelper
      float: left
      height: 100%
      width: 100%
      z-index: 6
      padding: 0
      overflow: hidden
      ul  
        height: 100%
        width: 10000% 
        padding: 0
        margin-bottom: 0
        @include marginLeftAnimation(.25s)
        li
          display: inline-block
          width: 1%
          .imageContainer
            height: 100%
            width: 100%
            margin-left: 0.05%
            //display: table-cell
            //vertical-align: middle
            img
              display: block
              max-height: 100%
              max-width: 100%
              border: none
              overflow: hidden
              margin: auto

  .galleryBar
    height: $galleryBar
    width: 100%
    position: fixed
    margin-top: 1%
    z-index: 8
    bottom: 1%
    .gallerMin
      float: left
      min-height: $galleryBar
      width: 100%
      padding: 0
      display: block
      overflow: hidden
      margin-left: 10px
      ul  
        width: 99999px  
        padding: 0px
        margin-bottom: 0px
        margin-left: 0px
        @include marginLeftAnimation(.25s)
        li
          display: inline
          a
            img
              height: $galleryBar 
              width: 100px
              border: none
              overflow: hidden
            img:hover
              @include outline


          



footer
  width: 100%
  height: 50px
  //background-color: $blue
  color: white
  text-align: center
  padding: 5px




.ng-invalid.ng-dirty 
  border-color: none


.ng-valid.ng-dirty 
  border-color: #78FA89


.ng-invalid.ng-pristine 
  border-color: none




.categories
  position: fixed
  top: 151px
  z-index: 2
  background-color: white
  display: none


.hide 
  display: none





////////////////LOADING BAR//////////////////////
#loading-bar,
#loading-bar-spinner 
  pointer-events: none
  -webkit-pointer-events: none
  -webkit-transition: 350ms linear all
  -moz-transition: 350ms linear all
  -o-transition: 350ms linear all
  transition: 350ms linear all

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active 
  opacity: 0


#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave 
  opacity: 1


#loading-bar .bar 
  -webkit-transition: width 350ms
  -moz-transition: width 350ms
  -o-transition: width 350ms
  transition: width 350ms

  background: $red
  position: fixed
  z-index: 10002
  top: 0
  left: 0
  width: 100%
  height: 2px
  border-bottom-right-radius: 1px
  border-top-right-radius: 1px


/* Fancy blur effect */ 
#loading-bar .peg 
  position: absolute
  width: 70px
  right: 0
  top: 0
  height: 2px
  opacity: .45
  -moz-box-shadow: #29d 1px 0 6px 1px
  -ms-box-shadow: #29d 1px 0 6px 1px
  -webkit-box-shadow: #29d 1px 0 6px 1px
  box-shadow: #29d 1px 0 6px 1px
  -moz-border-radius: 100%
  -webkit-border-radius: 100%
  border-radius: 100%


#loading-bar-spinner 
  display: block
  position: fixed
  z-index: 10002
  top: 10px
  left: 10px


#loading-bar-spinner .spinner-icon 
  width: 14px
  height: 14px

  border:  solid 2px transparent
  border-top-color:  $red
  border-left-color: $red
  border-radius: 10px

  -webkit-animation: loading-bar-spinner 400ms linear infinite
  -moz-animation:    loading-bar-spinner 400ms linear infinite
  -ms-animation:     loading-bar-spinner 400ms linear infinite
  -o-animation:      loading-bar-spinner 400ms linear infinite
  animation:         loading-bar-spinner 400ms linear infinite

@-webkit-keyframes loading-bar-spinner 
  0%   
    -webkit-transform: rotate(0deg)   
    transform: rotate(0deg)
  100% 
    -webkit-transform: rotate(360deg) 
    transform: rotate(360deg)

@-moz-keyframes loading-bar-spinner 
  0%   
    -moz-transform: rotate(0deg)
    transform: rotate(0deg)
  100% 
    -moz-transform: rotate(360deg)
    transform: rotate(360deg)

@-o-keyframes loading-bar-spinner 
  0%   
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
  100% 
    -o-transform: rotate(360deg)
    transform: rotate(360deg)

@-ms-keyframes loading-bar-spinner 
  0%   
    -ms-transform: rotate(0deg)
    transform: rotate(0deg)
  100% 
    -ms-transform: rotate(360deg)
    transform: rotate(360deg)

@keyframes loading-bar-spinner 
  0%   
    transform: rotate(0deg)
    transform: rotate(0deg)
  100% 
    transform: rotate(360deg)
    transform: rotate(360deg)

