extends layout

block body
	section(ng-controller="AdminEditPanelController")	
		.topMenu			
			ul(class="nav nav-pills")
				li(ng-class="{ active:isSelected(1) }") 
					a(href ng-click="selectTab(1)") Global Settings 
				li(ng-class="{ active:isSelected(2) }")
					a(href ng-click="selectTab(2)") Sites
				li(ng-class="{ active:isSelected(3) }") 
					a(href ng-click="selectTab(3)") Categories 
				li(ng-class="{ active:isSelected(4) }") 
					a(href ng-click="selectTab(4)") Products 
		.view
			div(class="panel", ng-show="isSelected(1)")
				section(admin-settings)
			div(class="panel", ng-show="isSelected(2)")
				section(admin-sites)					
			div(class="panel", ng-show="isSelected(3)")
				section(admin-categories)
			div(class="panel", ng-show="isSelected(4)")
				section(admin-products)



		div(ta-bind="text", ng-model="htmlcontent", ta-readonly='disabled')
	div
		| Angular seed app: v
		span(app-version)

	script(src='js/lib/jquery-1.11.1.min.js')
	script(src='js/lib/jquery-ui.min.js')
	script(src='js/lib/angular/angular.min.js')
	script(src='js/lib/angular/angular-resource.min.js')
	script(src='js/lib/angular/angular-route.min.js')
	script(src='js/lib/angular/textAngular.js')
	script(src='js/lib/angular/textAngular-sanitize.js')
	script(src='js/lib/angular/textAngularSetup.js')
	script(src='js/lib/angular/ui-bootstrap-tpls-0.11.0.min.js')
	script(src='js/lib/angular/sortable.js')
	script(src='js/lib/angular/loading-bar.js')
	script(src='js/bootstrap.min.js')
	script(src='js/app.js')
	script(src='js/services.js')
	script(src='js/controllers.js')
	script(src='js/filters.js')
	script(src='js/directives.js')

		