extends layout

block body
  div(ng-controller='AppCtrl')
    header
      div(scroll ng-class="{hide:boolChangeClass}")
        .logo
      nav(scroll ng-class="{fixed:boolChangeClass}")
        .logoSmall(scroll ng-class="{hide: !boolChangeClass}")
        ul
          a(href='/') 
            li
              .menuButton 
                span(ng-bind="settings.indexTitle") 
          a(href='products/show') 
            li
              .menuButton 
                span(ng-bind="settings.productsTitle")

              ul
                a(ng-repeat="category in categories", href='products/show/{{category.name}}')
                  li 
                    //.menuButton
                    .menuButton2           
                      span(ng-bind="category.name") 

          a(ng-repeat="site in sites", ng-hide="site.isIndex", href='{{site.title}}')
            li
              .menuButton
                span(ng-bind="site.title")  
              
    main(ng-view scroll)


    footer
      | Angular seed app: v
      span(app-version)

  script(src='js/lib/jquery-1.11.1.min.js')
  script(src='js/lib/jquery-ui.min.js')
  script(src='js/lib/angular/angular.min.js')
  script(src='js/lib/angular/angular-resource.min.js')
  script(src='js/lib/angular/angular-route.min.js')
  script(src='js/lib/angular/angular-animate.min.js')
  script(src='js/lib/angular/textAngular.js')
  script(src='js/lib/angular/textAngular-sanitize.js')
  script(src='js/lib/angular/textAngularSetup.js')
  script(src='js/lib/angular/ui-bootstrap-tpls-0.11.0.min.js')
  script(src='js/lib/angular/sortable.js')
  script(src='js/lib/angular/loading-bar.js')
  script(src='js/bootstrap.min.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
