.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.ng-invalid.ng-dirty {
	border-color: ;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.ng-invalid.ng-pristine {
	border-color: ;
}

ul {
	margin: 0 auto;
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}

.view {
    top:101px;
    position: relative;
}

.topMenu{
    position:fixed;
    top:0px;
    width:100%;
    height:100px;
    z-index: 3;
    background-color: white;
}

.categories{
    position:fixed;
    top:101px;
    z-index: 2;
    background-color: white;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


