.ng-invalid.ng-dirty {
	border-color: ;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.ng-invalid.ng-pristine {
	border-color: ;
}

ul {
	margin: 0 auto;
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}
