div(ng-show="product.images.length", class="gallery")
	//div(class="image")
	//	img(ng-src="./images/{{product.images[current]}}")
	.imageDiv
		.button.one.left(ng-hide="marginValue==0", ng-click="leftOne()")
			span(class="fa fa-angle-left fa-4x")
		.button.one.right(ng-hide="marginValue==(-product.images.length+1)*400", ng-click="rightOne()")
			span(class="fa fa-angle-right fa-4x")
		.zoom
			span(class="fa fa-search-plus fa-4x", ng-click="showFullGallery()")
		.imageHelper
			ul(ng-style="{'margin-left': marginLeft}")
				li(ng-repeat="image in product.images")
					.imageContainer
						img(ng-src="./images/gallerySize/{{image}}")
		//img(ng-src="./images/{{product.images[current]}}")
	.galleryBar
		.button.many.left(ng-hide="marginValueMin==0", ng-click="left()")
			span(class="fa fa-angle-left fa-3x")
		.gallerMin
			ul(ng-style="{'margin-left': marginLeftMin}")
				li(ng-repeat="image in product.images")
					a(href ng-click="setCurrent($index)")
						img(ng-src="./images/thumbs/{{image}}")							
		.button.many.right(ng-hide="marginValueMin==(-product.images.length+4)*100 || product.images.length<=3", ng-click="right()")
			span(class="fa fa-angle-right fa-3x")

.fullGallery(ng-show="fullGallery")
	.imageDiv
		.button.one.left(ng-hide="marginValueBig==0", ng-click="leftOneBig()")
			span(class="fa fa-angle-left fa-5x")
		.button.one.right(ng-hide="marginValueBig==(-product.images.length+1)*100", ng-click="rightOneBig()")
			span(class="fa fa-angle-right fa-5x")
		.button.close.right(ng-click="hideFullGallery()")
			span(class="fa fa-times fa-3x fa-fw")
		.imageHelper
			ul(ng-style="{'margin-left': marginLeftBig}")
				//li(ng-repeat="image in product.images")
				.imageContainer(ng-repeat="image in product.images")
					img(ng-src="./images/{{image}}")
	.galleryBar
		.gallerMin
			ul
				li(ng-repeat="image in product.images")
					a(href ng-click="setCurrentBig($index)")
						img(ng-src="./images/thumbs/{{image}}")						



