ul(class="nav nav-pills")
	li(ng-class="{ active:isSelected(1) }") 
		a(href ng-click="selectTab(1)") Description 
	li(ng-class="{ active:isSelected(2) }") 
		a(href ng-click="selectTab(2)") Specifications
	li(ng-class="{ active:isSelected(3) }") 
		a(href ng-click="selectTab(3)") Reviews 


div(class="panel", ng-show="isSelected(1)")
	h4 Description
	p(ng-bind="product.description")  

div(class="panel", ng-show="isSelected(2)")
	h4 Specifications
	blockquote None yet
	
div(class="panel", ng-show="isSelected(3)")
	h4 Reviews
	blockquote(ng-repeat="review in product.reviews")
		b Stars: 
			span(ng-bind="review.stars")  
		<br>
		span(ng-bind="review.body") 
		<br>
		cite by: 
			span(ng-bind="review.author")
		
	form(name="reviewForm", ng-submit="reviewForm.$valid && addReview(product._id, product)", novalidate)
		blockquote
			b Stars: {{formReview.stars}} <br>
			{{formReview.body}}<br>
			cite by: {{formReview.author}} <br>
		select(ng-model="formReview.stars", required)
			option(value="1") 1 star
			option(value="2") 2 star
			option(value="3") 3 star
			option(value="4") 4 star
			option(value="5") 5 star
		<br>
		textarea(ng-model="formReview.body", required)
		<br>
		label by:
		input(ng-model="formReview.author", type="email", required)
		<br>
		div reviewForm is 
			span(ng-bind="reviewForm.$valid") 
			//{{reviewForm.$valid}} 
		input(type="submit", value="Submit")

