div(ng-show="product.images.length")
	div(class="img-wrap")
		img(ng-src="./images/{{product.images[current]}}", height="400px", width="500px")
	ul(class="img-thumbnails clearfix")
		li(class="small-image pull-left thumbnail", ng-repeat="image in product.images")
			a(href ng-click="setCurrent($index)")
				img(ng-src="./images/{{image}}", height="100px", width="100px")
